.CardDeck {
  margin-top: 60px;

  & header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.5rem;
    align-items: center;
    color: var(--dark-green);
    position: relative;

    & svg {
      cursor: pointer;
    }
  }

  &>div {
    display: flex;
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap;
  }
}

.filter-box {
  background-color: var(--dark-green);
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 4px;
  min-width: 200px;

  &>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;

    &:hover {
      background-color: var(--light-green);
      color: black;
    }

    &>.filter-sort {
      background-color: var(--light-green);
      border-radius: 5px;
      padding: 3px 6px;
    }

    &>span {
      display: flex;

      & svg {
        margin-right: 5px;
      }
    }
  }
}