.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  max-width: 1330px;
  width: 100%;
  height: 800px;
  padding: 20px 40px 40px 40px;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  & header {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 20px;

    & svg {
      width: 40px;
      height: 40px;
    }

    & svg:hover {
      cursor: pointer;
      transform: scale(.9);
    }
  }

  & h2 {
    color: var(--dark-green);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.modal-content {
  display: flex;
  gap: 40px;
  flex: 1;
  overflow: hidden;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h3 {
    color: var(--dark-green);
    font-size: 1.5rem;
  }
}

.left-div {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  &>div {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
}

.columns {
  display: flex;
  gap: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  width: 100%;
  gap: 8px;

  & label {
    font-size: 1.1rem;
  }

  & input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid lightgray;
    outline: none;
  }

  & input:focus {
    border: 1px solid var(--dark-green);
  }
}

.relacoes-div {
  display: flex;
  flex-direction: column;

  &>div {
    height: 40px;
    display: flex;
    margin-top: 10px;
    gap: 20px;

    & .relacoes-item {
      background-color: var(--dark-green);
      border-radius: 10px;
      color: white;
      font-size: 1rem;
      padding: 0 15px;
      align-content: center;
      cursor: pointer;
    }

    /* Quando o + das relações não está clicado */
    & section {
      background-color: white;
      border: 3px solid var(--dark-green);
      border-radius: 10px;
      height: 100%;
      display: flex;
      aspect-ratio: 1;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &>div {
        display: flex;

        & input {
          transition: width ease-in-out .25s;
          width: 0px;
          border: none;
          outline: none;
        }

        & svg {
          transition: transform ease-in-out .5s;
          color: var(--dark-green);
          font-size: large;
          stroke-width: 1rem;
        }
      }
    }

    /* Quando o + das relações está clicado */
    & section.relation-section {
      position: sticky;
      flex-direction: column;
      height: fit-content;
      justify-content: flex-start;
      align-items: flex-start;
      cursor: auto;
      padding: 5px;
      max-width: 300px;
      width: 100%;

      &>div {
        margin-bottom: 5px;
        width: 100%;

        & input {
          width: 100%;
          display: inline-block;
        }

        & svg {
          transform: rotate(-45deg);
          color: red;
          cursor: pointer;
        }
      }

      &>ul {
        font-size: 1rem;

        & input[type="checkbox"] {
          appearance: none;
          position: relative;
          height: 100%;
          height: 1rem;
          aspect-ratio: 1;
          background-color: #fff;
          border: 0.125rem solid var(--light-green);
          border-radius: 50%;
          margin-right: 5px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.75rem;
            height: 0.75rem;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: translate(-50%, -50%) scale(0);
            transform-origin: center;
            transition: 0.125s transform ease-in-out;
            box-shadow: inset 1rem 1rem #fff;
          }

          &:checked {
            background-color: var(--dark-green);
            border-color: var(--dark-green);

            &::before {
              transform: translate(-50%, -50%) scale(.7);
            }
          }

          &:disabled {
            opacity: 0.25;
          }

          &:focus {
            border-color: var(--dark-green);

            &+label {
              color: var(--dark-green);
            }
          }
        }
      }
    }
  }
}

.quill {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;

  & .ql-toolbar {
    border: 1px var(--dark-green) solid !important;
    border-radius: 10px 10px 0 0;
  }

  & .ql-container {
    border: 1px var(--dark-green) solid !important;
    border-top: none !important;
    border-radius: 0 0 10px 10px;
    flex: 1;
  }
}