.SideBar {
  background-color: #60961E;
  color: white;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 300px;
  flex-direction: column;
  align-items: center;
  padding: 0 35px;
  padding-top: 120px;
  transition: all 250ms ease-in-out;
  gap: 20px;
  box-sizing: border-box;

  & .SB-HomeLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
  }

  & .SB-HomeIcon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background-color: #47740F;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
  }

  & .SB-HomeIcon svg {
    width: 24px;
    height: 24px;
  }

  & .SB-HomeLink:hover .SB-HomeIcon {
    background-color: #A3CE6F;
    color: black;
  }

  & div {
    min-width: 100%;

    & * {
      align-content: center;
      font-size: 24px;
      cursor: pointer;
    }

    & .SB-Title {
      background-color: #47740F;
      border-radius: 10px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 300px;
      padding: 0 10px;

      & h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.02em;
      }

      & svg {
        transition: transform 0.25s ease-in-out;
      }
    }

    & ul {
      transition: height 0.25s ease-in-out;
      overflow: hidden;

      & a {
        text-decoration: none;
      }

      & li {
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
      }

      & li:hover {
        background-color: #A3CE6F;
        color: black;
      }
    }
  }

  & .SBGroup--collapsed {
    & .SB-Title {
      & svg {
        transform: rotate(-180deg);
      }
    }

    & ul {
      overflow: hidden;
    }
  }
}
