.submodal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;

  &>div {
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
    width: 600;
    height: 800;

    &>header {
      display: flex;
      justify-content: flex-end;
      gap: 40px;
      margin-bottom: 20px;

      &>svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    &>div {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      overflow-x: hidden;

      &>h1 {
        font-size: 1.75rem;
        color: var(--dark-green);
        margin-bottom: 20px;

        &>span {
          cursor: pointer;

          &:hover {
            color: var(--light-green)
          }
        }
      }

      &>section {
        display: flex;
        transition: transform ease-in-out 0.3s;
        /* transform: translateX(-100%); */

        &>div {
          min-width: 100%;
          gap: 20px;
          display: flex;
          flex-direction: column;

          & button {
            border: none;
            background-color: var(--dark-green);
            height: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            align-items: center;
            color: white;
            font-size: 1.2rem;
            cursor: pointer;
            width: 100%;
          }

          & table {
            border-collapse: collapse;

            & th {
              font-size: 1rem;
              font-weight: normal;
              color: var(--light-green);
            }

            & td {
              font-size: 1rem;
              padding: 5px;
              border-bottom: 1px solid var(--dark-green);
            }

            & tr {
              color: var(--dark-green);
            }

            & tr:nth-child(even) {
              color: white;
              background-color: var(--light-green);
            }

            & th,
            td {
              width: fit-content;
              white-space: nowrap;
            }

            & th:nth-child(1),
            td:nth-child(1) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}